.basket {
    width: 100%;
    min-height: 400px;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 0px 7px 1px #000000;
    max-height: 700px;
    overflow: overlay;
}

.basket_wrapper {
    width: 300px;
    flex-grow: 1;
    padding: 8px;
    padding-top: 0px;
    background-color: orange;
}

.basket-header {
    text-align: center;
    padding: 4px;
}

.basket-content {
    padding: 4px;
}

.basket-item img {
    height: 20px;
}

.basket-item img:hover {
    cursor: pointer;
    background-color: rgb(235, 169, 169);
    border-radius: 50%;
}

.item-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn-counter {
    font-size: 20px;
    font-weight: bold;
    color: orange;
}

.btn-count {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background: orange;
    color: white;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
}

.btn-count:hover {
    cursor: pointer;
    border: solid 0.5px rgb(120, 120, 120);
}

.basket-worth {
    padding: 4px;
}

.seperator {
    border-bottom: solid 1px rgb(184, 184, 184);
}

.order {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.order-btn {
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 8px;
    background-color: orange;
    display: flex;
}

.order-btn:hover {
    color: orange;
    background-color: white;
    cursor: pointer;
    border: 1px solid grey;
}