* {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-block: 0;
    padding-inline: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.d-none {
    display: none;
}