:root {
    --second-txt-color: rgb(170, 170, 170);
}

body {
    background-color: orange;
    display: flex;
    min-height: 100vh;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    position: relative;
    right: 0;
    top: 0;
    left: 0;
    background-color: orange;
    color: white;
    margin-bottom: 8px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 10px 5px rgba(0, 0, 0, 0);
}

header img {
    width: 120px;
}

nav {
    display: flex;
    gap: 25px;
}

.mobile-nav {
    display: none;
    flex-direction: column;
    background: orange;
    padding: 20px;
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;

}

.burger-menu {
    display: none;
}

.content_wrapper {
    display: flex;
}

.content {
    width: calc(100% - 300px);
    background-image: url(../assets/img/pizza-2589577.jpg);
    background-size: cover;
    background-position: center;
}

.content_header {
    background-color: white;
    padding: 8px;
    margin-bottom: 64px;
}

.menu_wrapper {
    color: white;
    padding: 8px;  
}

.menu_card {
    display: flex;
    color: black;
    background-color: white;
    margin-bottom: 32px;
    gap: 40px;
    padding: 4px;
    justify-content: space-between;
    width: 75%;
    min-width: 190px;
}

.menu_card_right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.basket_responsive {
    display: none;
}

footer {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 24px;
    font-size: 12px;
    justify-content: end;
    background-color: white;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    cursor: pointer;
    text-decoration: underline;
}

footer a:visited {
    color: black;
}

main {
    margin-bottom: 8px;
    padding: 8px;
    flex: 1;
    display: flex;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 2000px;
}